<h1>Bienvenidos a la Demo!</h1>
<p>Puedes observar los productos que tienes actualmente y puedes agregar más si así lo deseas</p>

<br><br>
<a href="/productos">
    <button type="button" class="btn btn-info mx-3">Ver productos</button>
</a>
<a href="/agregaProd">
    <button type="button" class="btn btn-success">Agregar Productos</button>
</a>